body {

    margin: 20;
    font-family: "Helvetica", "Verdana", "Roboto", sans-serif;
    /* background-image: url(/Users/Carlos/Development/code/MOD_3_PROJ/connect-4-JS/images/background_beach.jpeg); */
    background-image: url(/Users/Carlos/Development/code/MOD_3_PROJ/connect-4-JS/images/field.jpg);
    
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
  }
  
  h1 {
    margin: 0 0 15px;
    padding: 15px;
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    background-color: #1f90ff;
  }
  
  
  #board {
    display: flex;
    position: relative;
    left: 30px;
    width: 490px;
    height: 420px;
    align-items: center;
    border-style: solid;
    border-width: 10px;
    color: #1f90ff;

    
  }
  
  #turn {
    font-size: 18px;
    /* font-weight: bold; */
    width: 200px;
    background-color: #1f90ff;
    color: #fff;
    text-align: center;
    padding: 8px 10px;
  }
  
  .column {
    display: inline-flex;
    flex-flow: column wrap;
    height:420px;
    
    
  }
  
  .right {
    border-style: solid;
    border-right-width: 10px;
    color: #1f90ff;
    
  }
  
  .left {
    border-style: solid;
    border-left-width: 10px;
    color: #1f90ff;
    height: 420px;
    width: 0px;
  }
  
  .middle {
    border-style: solid;
    border-top-width: 10px;
    border-bottom-width: 10px;
    color: #1f90ff;
  }
  
  
  
  
  
  
  /* Disc */
  .disc {
    border-style: solid;
    border-width: 5px;
    
    
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    color: #1f90ff;
    background-image: radial-gradient(white, rgba(133, 133, 252, 0.342), #1f90ff);
    /* background-image: url("/Users/Carlos/Development/code/MOD_3_PROJ/connect-4-JS/images/cow1.png"); */
    /* opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s, top 0s 0.2s, color 0s 0.2s; */
    /* z-index:10 */
  }
  
  
  
  /* player 1 chip */
  #p1{
    background-image: url("/Users/Carlos/Development/code/MOD_3_PROJ/connect-4-JS/images/cow1.png");
    /* z-index:9; */
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  /* player 2 chip */
  #p2{
    background-image: url("/Users/Carlos/Development/code/MOD_3_PROJ/connect-4-JS/images/cow2.png");
    /* z-index:9; */
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  
  
  
  
  
  /* Button style */
  button {
    margin: 20px auto;
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background: #2196f3 center;
    box-shadow: 0 0 4px #999;
    outline: none;
    
  }
  

  @keyframes outcome {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  #players {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  #players td, #players th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #players tr:nth-child(even){background-color: #f2f2f2;}
  #players tr:nth-child(odd){background-color: #80bfff;}
  #players th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1f90ff;
    color: white;
  }